@page
@model CDTP_server_core.Pages.dashboardModel
@{
    Layout = null;


}


<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>CDTP  </title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="template/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="template/vendors/css/vendor.bundle.base.css">


    <!-- endinject -->
    <!-- inject:css -->
    <link rel="stylesheet" href="template/css/style.css">

    <style>

        .dropdown-item {
            background-color: whitesmoke;
        }
    </style>
    <!-- endinject -->
    <link rel="shortcut icon" href="template/images/favicon.png" />
</head>
<body>
    <div class="container-scroller">
        <!-- partial:partials/_navbar.html -->
        <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
                <a class="navbar-brand brand-logo" href="dashboard"> <object data="custom/logo.svg" type="image/svg+xml"> </object></a>
                <a class="navbar-brand brand-logo-mini" href="dashboard"> <object data="custom/logo_small.svg" type="image/svg+xml"> </object></a>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-stretch">

                <ul class="navbar-nav navbar-nav-right">
                    <li class="nav-item nav-profile dropdown">
                        <a class="nav-link dropdown-toggle"  id="profileDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                            <div class="nav-profile-img">

                                @*<%--<img src="" alt="image"> <!-- web/template/images/faces/face1.jpg -->--%>
                                    <span class="availability-status online"></span>*@
                            </div>
                            <div class="nav-profile-text">
                                <p class="mb-1 text-black">@Model.userInfo.name @Model.userInfo.surname</p>
                            </div>
                        </a>
                        <div class="dropdown-menu navbar-dropdown" aria-labelledby="profileDropdown">
                            <a class="dropdown-item" href="#">
                                <i  class="mdi mdi-cached mr-2 text-success"></i>
                                Activity Log
                            </a>
                            <div class="dropdown-divider"></div>
                            <a id="log-out-user" class="dropdown-item" href="r/logout">
                                <i class="mdi mdi-logout mr-2 text-primary"></i>
                                Signout
                            </a>
                        </div>
                    </li>
                    <li class="nav-item d-none d-lg-block full-screen-link">
                        <a class="nav-link">
                            <i class="mdi mdi-fullscreen" id="fullscreen-button"></i>
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link count-indicator dropdown-toggle" onclick="notification_dropdown_toggle()" id="notificationDropdown" href="#" data-toggle="dropdown">
                            
                            <i class="mdi mdi-bell-outline"></i>
                            <span id="notification_dropdown_light" class="count-symbol  "></span>
                          
                        </a>
                        
                        <div  class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
                            <h6 class="p-3 mb-0">Notifications</h6>

                            <div id="notification_dropdown">
 

                            </div>

                        </div>
                    </li>

 
                </ul>
                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                    <span class="mdi mdi-menu"></span>
                </button>
            </div>
        </nav>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:partials/_sidebar.html -->
            <nav class="sidebar sidebar-offcanvas" id="sidebar">
                <ul class="nav">


                    <li class="nav-item nav-profile">
                        <a href="#" class="nav-link">

                            <div class="nav-profile-text d-flex flex-column">
                                <span class="font-weight-bold mb-2">@Model.userInfo.name @Model.userInfo.surname</span>
                                <span class="text-secondary text-small"> ... </span>
                            </div>
                            <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
                        </a>
                    </li>



                    <li class="nav-item">
                        <a class="nav-link" href="dashboard">
                            <span class="menu-title">Ana Ekran</span>
                            <i class="mdi mdi-home menu-icon"></i>
                        </a>
                    </li>



                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span class="menu-title">Hesap Ayarları</span>
                            <i class="mdi mdi-account-settings-variant menu-icon"></i>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#" onclick="event.preventDefault();fillData()">
                            <span class="menu-title">Yenile</span>
                            <i class="mdi mdi mdi-flattr menu-icon"></i>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#" aria-expanded="false" aria-controls="ui-basic">
                            <span class="menu-title">İstekler</span>
                            <i class="menu-arrow"></i>
                            <i class="mdi mdi-crosshairs-gps menu-icon"></i>
                        </a>
                        <div class="collapse" id="ui-basic">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"> <a class="nav-link" href="#">Rapor Talep</a></li>
                                <li class="nav-item"> <a class="nav-link" href="#">İzleme Aralığı</a></li>
                            </ul>
                        </div>
                    </li>



                </ul>
            </nav>

            <div class="main-panel">
                <div class="content-wrapper">


                    <div class="page-header">
                        <h3 class="page-title">
                            <span class="page-title-icon bg-gradient-primary text-white mr-2">
                                <i class="mdi mdi-home"></i>
                            </span>
                            Aktiviteler
                        </h3>
                        <nav aria-label="breadcrumb">
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item active">
                                    <span></span>Görünüm
                                    <i class="mdi mdi-alert-circle-outline icon-sm text-primary align-middle"></i>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="row">
                        <div class="col-md-4 stretch-card grid-margin">
                            <div class="card bg-gradient-danger card-img-holder text-white">
                                <div class="card-body">
                                    <img src="template/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
                                    <h4 class="font-weight-normal mb-3">
                                        Haftalık Kullanım
                                        <i class="mdi mdi-chart-line mdi-24px float-right"></i>
                                    </h4>
                                    <h2 class="mb-5" id="weeklyUsages"> 0 </h2>
                                    <h6 class="card-text"> </h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 stretch-card grid-margin">
                            <div class="card bg-gradient-info card-img-holder text-white">
                                <div class="card-body">
                                    <img src="template/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
                                    <h4 class="font-weight-normal mb-3">
                                        Toplam Harcama
                                        <i class="mdi mdi-bookmark-outline mdi-24px float-right"></i>
                                    </h4>
                                    <h2 class="mb-5" id="totalUsages"> 0</h2>
                                    <a href="#all_usages"><h6 class="card-text">  tüm harcamalar </h6></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 stretch-card grid-margin">
                            <div class="card bg-gradient-success card-img-holder text-white">
                                <div class="card-body">
                                    <img src="template/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
                                    <h4 class="font-weight-normal mb-3">
                                        Kazanılan Enerji
                                        <i class="mdi mdi-diamond mdi-24px float-right"></i>
                                    </h4>
                                    <h2 class="mb-5" id="freeUsages">0</h2>
                                    <h6 class="card-text"></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-7 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body">
                                    <div class="clearfix">
                                        <h4 id="line-chart-title" class="card-title float-left">Aylık Takip Tablosu 2019</h4>
                                        <div id="visit-sale-chart-legend" class="rounded-legend legend-horizontal legend-top-right float-right"></div>
                                    </div>
                                    <canvas id="visit-sale-chart" class="mt-4"></canvas>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 grid-margin stretch-card">
                            <div class="card">


                                <div class="card-body">
                                    <h4 class="card-title">Enerji Kullanım Oranı</h4>
                                    <br />

                                    <canvas id="traffic-chart" class='img-responsive'></canvas>

                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row" id="all_usages">
                        <div class="col-12 grid-margin">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Son Faturalar</h4>
                                    <div id="tablehtml" class="table-responsive">
                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <!-- content-wrapper ends -->
                <!-- partial:partials/_footer.html -->
                <footer class="footer">
                    <div class="d-sm-flex justify-content-center justify-content-sm-between">
                        <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2019  CDTP.  All rights reserved.</span>
                        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> </span>
                    </div>
                </footer>
                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="template/vendors/js/vendor.bundle.base.js"></script>
    <script src="template/vendors/js/vendor.bundle.addons.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page-->
    <!-- End plugin js for this page-->
    <!-- inject:js -->
    <script src="template/js/off-canvas.js"></script>
    <script src="template/js/misc.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <script src="template/js/dashboard.js"></script>
    <!-- End custom js for this page-->

    <script>


        Chart.pluginService.register({
		beforeDraw: function (chart) {
			if (chart.config.options.elements.center) {
        //Get ctx from string
        var ctx = chart.chart.ctx;
        
				//Get options from the center object in options
        var centerConfig = chart.config.options.elements.center;
      	var fontStyle = centerConfig.fontStyle || 'Arial';
				var txt = centerConfig.text;
        var color = centerConfig.color || '#000';
        var sidePadding = centerConfig.sidePadding || 20;
        var sidePaddingCalculated = (sidePadding/100) * (chart.innerRadius * 2)
        //Start with a base font of 30px
        ctx.font = "30px " + fontStyle;
        
				//Get the width of the string and also the width of the element minus 10 to give it 5px side padding
        var stringWidth = ctx.measureText(txt).width;
        var elementWidth = (chart.innerRadius * 2) - sidePaddingCalculated;

        // Find out how much the font can grow in width.
        var widthRatio = elementWidth / stringWidth;
        var newFontSize = Math.floor(30 * widthRatio);
        var elementHeight = (chart.innerRadius * 2);

        // Pick a new font size so it will not be larger than the height of label.
        var fontSizeToUse = Math.min(newFontSize, elementHeight);

				//Set font settings to draw it correctly.
        ctx.textAlign = 'center';
        ctx.textBaseline = 'middle';
        var centerX = ((chart.chartArea.left + chart.chartArea.right) / 2);
        var centerY = ((chart.chartArea.top + chart.chartArea.bottom) / 2);
        ctx.font = fontSizeToUse+"px " + fontStyle;
        ctx.fillStyle = color;
        
        //Draw text in center
        ctx.fillText(txt, centerX, centerY);
			}
		}
	});


 





        var ctx = document.getElementById('visit-sale-chart').getContext("2d");

        var lineChart = new Chart(ctx, {
            type: 'line',
            data: []
        })

        var trafficChartOptions = {
            responsive: true,
            animation: {
                animateScale: true,
                animateRotate: true
            },
            legend: false,
        };


        var trafficChart = new Chart(document.getElementById("traffic-chart"), {
            type: 'doughnut',
            responsive: true

            //,data: trafficChartData,
            //options: trafficChartOptions
        });
        //$("#traffic-chart-legend").html(trafficChart.generateLegend());

        function setChartData(chart, labels, datasets ,opt , disableAnimation) {
            let data = chart.config.data;
            data.datasets = datasets;
            data.labels = labels;
            if (opt)
                chart.config.options = opt

            if(disableAnimation)
                chart.config.options.animation = false
            chart.update();
        }



        
        function addUpdateNotification() {

             let dropdown = document.getElementById("notification_dropdown");
             dropdown.innerHTML =
                 `<a class="dropdown-item preview-item">
                     <div class="preview-thumbnail">
                         <div class="preview-icon bg-success">
                             <i class="mdi mdi-update"></i>
                         </div>
                     </div>
                     <div class="preview-item-content d-flex align-items-start flex-column justify-content-center">
                         <h6 class="preview-subject font-weight-normal mb-1">${"Değerler Güncellendi!"}</h6>
                         <p class="text-gray ellipsis mb-0">
                             ${Date().toLocaleString()}
                         </p>
                     </div>
                 </a>
                 <div class="dropdown-divider"></div>
                ${ dropdown.innerHTML}`;

             if (dropdown.childElementCount > 10) {
                 dropdown.removeChild(dropdown.lastElementChild)
                 dropdown.removeChild(dropdown.lastElementChild)
             }
        }




        function sse_begin(url, onmessage, onopen, onerror) {
            var source = new EventSource(url);
            if (onopen)
                source.onopen = onopen;
            if (onmessage)
                source.onmessage = onmessage;
            if (onerror)
                source.onerror = onerror;
        }



         sse_begin("sse", (e) =>
         {
             console.log("update notification reached!... " + e);

             fillData()

             document.getElementById("notification_dropdown_light").classList.add("bg-success");
 
             addUpdateNotification()
         })

        function notification_dropdown_toggle() {
        
            document.getElementById("notification_dropdown_light").classList.remove("bg-success");

        }

        function call_ajax(url, response_type, callback) {
            var xhttp = new XMLHttpRequest();
            xhttp.responseType = response_type;
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    if (callback)
                        callback(xhttp.response);
                }
            };
            xhttp.open("GET", url, true);
            xhttp.send();
        }


        function fillData(animationDuration = 0) {
            call_ajax('r', 'json', (response) => {

                //alert(response);

                var eusagegradient = ctx.createLinearGradient(ctx.canvas.width/2, 0, ctx.canvas.width/2, ctx.canvas.height);
                eusagegradient.addColorStop(0, "rgba(255, 87, 25, 1)");
                eusagegradient.addColorStop(1, "rgba(255, 87, 25, 0.1)");

                var efreegradient = ctx.createLinearGradient(ctx.canvas.width/2, 0, ctx.canvas.width/2, ctx.canvas.height);
                efreegradient.addColorStop(0, "rgba(80, 255, 80, 1)");
                efreegradient.addColorStop(1, "rgba(60, 210, 60, 0.1)");

                setChartData(lineChart, response.labels,
                    [
                                                {
                            data: response.datasets[1].data,
                            label: "Yenilenebilir Enerji Kullanımı",
                            backgroundColor: efreegradient,
                            borderColor: 'rgba(60, 210, 60, 0.9)'
                        },
                        {
                            data: response.datasets[0].data,
                            label: "Enerji Kullanımı",
                            backgroundColor: eusagegradient,
                            borderColor: 'rgba(255, 87, 25, 0.8)'
                        }


                    ],
                    null,
                    true
                )
                setChartData(trafficChart, ["Enerji Kullanımı", "Yenilenebilir Enerji Kullanımı"],
                    [{
                        label: 'Kullanım oranları',
                        data: [response.extra.totalUsages - response.extra.freeUsages, response.extra.freeUsages],
                        backgroundColor: [
                            'rgba(255, 87, 25, 1)',
                            'rgba(60, 210, 60, 1)'
                        ],
                        borderColor: [
                            'rgba(255, 87, 25,1)',
                            'rgba(60, 210, 60, 1)'
                        ],
                        borderWidth: 1
                    }]
                    ,
                    {
 
                        elements: {
                            center: {
                                text: (response.extra.freeUsages*100/ (response.extra.totalUsages )).toFixed(1)+'%',
                                // color: '#FF6384', // Default is #000000
                                //fontStyle: 'Arial', // Default is Arial
                                //sidePadding: 20 // Defualt is 20 (as a percentage)
                            }
                        }
                    },
                    true
                    )

                //$("#traffic-chart-legend").html(trafficChart.generateLegend());
                // document.getElementById("traffic-chart-legend").innerHTML = (trafficChart.generateLegend());

                let month = new Intl.DateTimeFormat('tr', { month: 'long' }).format(new Date(response.date));
                document.getElementById("line-chart-title").innerText = new Date(response.date).getFullYear().toString()+" "+ month + " Kullanım Grafiği";
                document.getElementById("totalUsages").innerText = response.extra.totalUsages.toFixed(2) + " birim";
                document.getElementById("weeklyUsages").innerText = response.extra.weeklyUsages.toFixed(2) + " birim";
                document.getElementById("freeUsages").innerText = response.extra.freeUsages.toFixed(2) + " birim";
                document.getElementById("tablehtml").innerHTML = response.tablehtml;
            })
        }


        fillData(500);



    </script>
</body>

</html>
